In [24]:
import pandas as pd
from matplotlib import pyplot as plt
import locale

In [5]:
#Change the path to the file

prova5 = pd.read_csv("./data_export/appa1_Grafana.csv")
prova5 = prova5.drop("Unnamed: 0",axis = 1)
prova5.ts = pd.to_datetime(prova5.ts.str.slice(start = 0, stop = 24), format = "%a %b %d %Y %H:%M:%S")
#prova5.Time = prova5.Time-jp.pd.Timedelta(0.5, unit="H")

prova5

,ts,Rs1,Rs2,Rs3,Rs4,Rs5,Rs6,Rs7,Rs8,Rh1,...,Vh3,Vh4,Vh5,Vh6,Vh7,Vh8,T,RH,P,BME
0,2020-07-31 14:29:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.37,0.37,0.38,0.34,26.8,50.5,962.5,1033.41
1,2020-07-31 14:30:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.37,0.37,0.38,0.34,26.9,50.3,962.5,1053.88
2,2020-07-31 14:30:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.37,0.37,0.38,0.34,26.9,50.2,962.4,1093.75
3,2020-07-31 14:31:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.38,0.38,0.38,0.34,27.2,49.7,962.5,1094.65
4,2020-08-03 13:11:34,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.38,0.38,0.38,0.34,27.2,49.6,962.5,1112.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802106,2022-07-25 13:57:59,11636364.0,744186.0,32080200.0,209836064.0,499000000.0,499000000.0,31674768.0,278910496.0,500.0,...,2.39,2.57,3.89,4.03,3.95,4.33,41.5,19.5,985.5,5467.63
802107,2022-07-25 13:58:59,11636364.0,739884.0,32820512.0,224561408.0,499000000.0,499000000.0,32361174.0,282204736.0,500.0,...,2.39,2.57,3.90,4.03,3.95,4.34,41.6,19.1,985.5,5501.55
802108,2022-07-25 13:59:59,11636364.0,748538.0,32653062.0,220689648.0,499000000.0,499000000.0,32042914.0,285577696.0,500.0,...,2.39,2.57,3.89,4.03,3.95,4.33,41.7,19.4,985.5,5490.20
802109,2022-07-25 14:00:59,11636364.0,752941.0,32405064.0,213333328.0,499000000.0,499000000.0,31843626.0,287871488.0,500.0,...,2.39,2.57,3.89,4.02,3.95,4.33,41.8,20.0,985.6,5507.25
802110,2022-07-25 14:02:00,11636364.0,752941.0,32989690.0,216949152.0,499000000.0,499000000.0,32331980.0,285577696.0,500.0,...,2.39,2.56,3.89,4.02,3.95,4.33,41.9,19.9,985.5,5518.67

In [6]:
prova5[0:5]

,ts,Rs1,Rs2,Rs3,Rs4,Rs5,Rs6,Rs7,Rs8,Rh1,...,Vh3,Vh4,Vh5,Vh6,Vh7,Vh8,T,RH,P,BME
0,2020-07-31 14:29:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.37,0.37,0.38,0.34,26.8,50.5,962.5,1033.41
1,2020-07-31 14:30:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.37,0.37,0.38,0.34,26.9,50.3,962.5,1053.88
2,2020-07-31 14:30:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.37,0.37,0.38,0.34,26.9,50.2,962.4,1093.75
3,2020-07-31 14:31:57,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.38,0.38,0.38,0.34,27.2,49.7,962.5,1094.65
4,2020-08-03 13:11:34,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,...,0.37,0.38,0.38,0.38,0.38,0.34,27.2,49.6,962.5,1112.04

In [7]:
prova5.rename(columns = {'ts':'Time'}, inplace = True)
prova5 = prova5.set_index("Time")

In [8]:
prova6 = prova5.resample('H').mean()
prova7 = prova5.resample("H").median()

In [9]:
prova6

,Rs1,Rs2,Rs3,Rs4,Rs5,Rs6,Rs7,Rs8,Rh1,Rh2,...,Vh3,Vh4,Vh5,Vh6,Vh7,Vh8,T,RH,P,BME
Time,,,,,,,,,,,,,,,,,,,,,
2020-07-31 14:00:00,6.400000e+07,1.280000e+08,1.280000e+08,1.280000e+08,499000000.0,499000000.0,4.990000e+08,4.990000e+08,500.0,500.000000,...,0.370000,0.380000,0.3725,0.372500,0.380000,0.340000,26.950000,50.175000,962.475000,1068.922500
2020-07-31 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-25 10:00:00,5.445447e+06,7.796336e+05,4.981345e+07,3.737091e+08,499000000.0,499000000.0,2.833238e+07,3.602563e+08,500.0,110.933333,...,2.390000,2.569833,3.8945,4.022167,3.950333,4.332833,36.151667,29.928333,989.363333,3469.393333
2022-07-25 11:00:00,8.055509e+06,7.450918e+05,6.046691e+07,4.865077e+08,499000000.0,499000000.0,2.381162e+07,3.717233e+08,500.0,111.001667,...,2.389500,2.569167,3.8930,4.021833,3.949667,4.331500,36.963333,27.708333,988.421667,4580.721000
2022-07-25 12:00:00,9.389792e+06,7.332567e+05,5.941493e+07,4.832119e+08,499000000.0,499000000.0,2.213071e+07,3.722041e+08,500.0,111.010000,...,2.390000,2.569667,3.8945,4.022500,3.950000,4.331000,37.466667,26.448333,987.286667,5309.537333
2022-07-25 13:00:00,1.041554e+07,7.370423e+05,4.473812e+07,3.280199e+08,499000000.0,499000000.0,2.723392e+07,3.070926e+08,500.0,111.133333,...,2.389833,2.570000,3.8950,4.024000,3.950000,4.331500,39.230000,22.996667,986.121667,5605.354833
2022-07-25 14:00:00,1.163636e+07,7.529410e+05,3.269738e+07,2.151412e+08,499000000.0,499000000.0,3.208780e+07,2.867246e+08,500.0,111.150000,...,2.390000,2.565000,3.8900,4.020000,3.950000,4.330000,41.850000,19.950000,985.550000,5512.960000

In [10]:
prova7.dropna()

,Rs1,Rs2,Rs3,Rs4,Rs5,Rs6,Rs7,Rs8,Rh1,Rh2,...,Vh3,Vh4,Vh5,Vh6,Vh7,Vh8,T,RH,P,BME
Time,,,,,,,,,,,,,,,,,,,,,
2020-07-31 14:00:00,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,500.00,...,0.37,0.380,0.370,0.37,0.38,0.34,26.90,50.25,962.50,1073.815
2020-08-03 13:00:00,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,500.00,...,0.37,0.380,0.380,0.38,0.38,0.34,29.50,45.10,962.40,1281.310
2020-08-03 14:00:00,64000000.0,128000000.0,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,500.00,...,0.37,0.380,0.380,0.38,0.38,0.34,29.50,46.10,962.10,1275.170
2020-08-21 10:00:00,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,500.00,...,1.57,0.340,2.610,3.11,4.16,4.61,29.50,52.60,973.10,252.680
2020-08-21 11:00:00,128000000.0,128000000.0,499000000.0,499000000.0,499000000.0,499000000.0,499000000.0,499000000.0,500.0,500.00,...,0.37,0.340,0.380,0.38,0.38,0.38,30.80,48.00,972.90,431.285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-25 10:00:00,5333334.0,780488.0,48669904.0,360634912.0,499000000.0,499000000.0,28478635.0,358400000.0,500.0,111.00,...,2.39,2.570,3.890,4.02,3.95,4.33,36.20,30.15,989.30,3431.180
2022-07-25 11:00:00,8533333.0,744186.0,60520434.0,492307680.0,499000000.0,499000000.0,23711555.0,371398976.0,500.0,111.00,...,2.39,2.570,3.890,4.02,3.95,4.33,37.00,27.80,988.40,4642.250
2022-07-25 12:00:00,9142857.0,731429.0,59534884.0,492307680.0,499000000.0,499000000.0,22092773.0,371398976.0,500.0,111.00,...,2.39,2.570,3.890,4.02,3.95,4.33,37.45,26.50,987.30,5365.605
2022-07-25 13:00:00,10666667.0,739884.0,42105264.0,290909088.0,499000000.0,499000000.0,28055347.0,283882304.0,500.0,111.10,...,2.39,2.570,3.895,4.02,3.95,4.33,38.85,23.55,986.10,5547.440
2022-07-25 14:00:00,11636364.0,752941.0,32697377.0,215141240.0,499000000.0,499000000.0,32087803.0,286724592.0,500.0,111.15,...,2.39,2.565,3.890,4.02,3.95,4.33,41.85,19.95,985.55,5512.960



import glob
import pandas as pd

glued_data = pd.DataFrame()
for file_name in glob.glob("./APPA_WV/"+'*.csv'):
    x = pd.read_csv(file_name, low_memory=False, encoding='latin-1')
    glued_data = pd.concat([glued_data,x],axis=0)

print(glued_data)
glued_data.to_csv("./APPA_WV/merged.csv", index = False)

In [14]:
#Change the path to the file

prova2 = pd.read_csv("merged.csv", encoding="ISO-8859-1")
prova2 = prova2.drop("Unità di misura",axis = 1)
prova2 = prova2.dropna()
supp = prova2.loc[prova2.Inquinante == "Inquinante"].index
prova2 = prova2.drop(supp,axis = 0).reset_index()
locale.setlocale(locale.LC_TIME, 'en_IN')
prova2.Data = pd.to_datetime(prova2.Data , format = "%Y-%m-%d")
for i in range(len(prova2)):
    prova2.Data[i] = prova2.Data[i]+pd.Timedelta(int(prova2.Ora[i]), unit="H")
prova2.rename(columns = {'Data':'Time'}, inplace = True)

loc = ["Parco S. Chiara", "Via Bolzano"]
Gas = ["PM10", "Ossido di Carbonio", "Biossido di Azoto", "Biossido Zolfo", "Ozono"]

C:\Users\marco\AppData\Local\Temp/ipykernel_35200/1680435770.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prova2.Data[i] = prova2.Data[i]+pd.Timedelta(int(prova2.Ora[i]), unit="H")

In [16]:
#Divide the Dataset in a readable way

supp = prova2.drop(["index","Ora"], axis = 1)

supp = supp.set_index("Time")

APPA1 = pd.DataFrame()
APPA2 = pd.DataFrame()
for i in loc:
    for j in Gas:
        supp2 = supp.loc[supp.Stazione == i]
        supp3 = supp2.loc[supp2.Inquinante == j]
        if supp3.empty:
            continue
        
        prova3 = pd.DataFrame(data = supp3.Valore.values, columns = [j], index = supp3.index)
        if i == loc[0]:
            if APPA1.empty:
                APPA1 = prova3.reset_index()
            else:
                #APPA1 = jp.pd.concat([prova.reset_index(),APPA1], axis = 1)
                APPA1 = APPA1.merge(prova3.reset_index(), how = "outer")
        else:
            if APPA2.empty:
                APPA2 = prova3.reset_index()
            else:
                #APPA1 = jp.pd.concat([prova.reset_index(),APPA1], axis = 1)
                APPA2 = APPA2.merge(prova3.reset_index(), how = "outer")

In [31]:
APPA2.dropna(how = "any",inplace=True)
APPA2.loc[(APPA2.Time > pd.to_datetime(1635634800, unit='s')) & (APPA2.Time < pd.to_datetime(1648422000, unit='s') ),"Time"] = APPA2.loc[(APPA2.Time > pd.to_datetime(1635634800, unit='s')) & (APPA2.Time < pd.to_datetime(1648422000, unit='s') )].Time - pd.Timedelta(1, unit="H") 
APPA2 = APPA2.drop_duplicates()
APPA2 = APPA2.set_index("Time")

In [32]:
APPA1.dropna(how = "any",inplace=True)
APPA1.loc[(APPA1.Time > pd.to_datetime(1635634800, unit='s')) & (APPA1.Time < pd.to_datetime(1648422000, unit='s') ),"Time"] = APPA1.loc[(APPA1.Time > pd.to_datetime(1635634800, unit='s')) & (APPA1.Time < pd.to_datetime(1648422000, unit='s') )].Time - pd.Timedelta(1, unit="H") 
APPA1 = APPA1.drop_duplicates()
APPA1 = APPA1.set_index("Time")

In [22]:
prova = (supp.loc[supp.Stazione == "Parco S. Chiara"])
prova.loc[prova.Inquinante == "PM10"]

                            Stazione Inquinante Valore
Time
2021-09-22 01:00:00  Parco S. Chiara       PM10     13
2021-09-22 02:00:00  Parco S. Chiara       PM10     11
2021-09-22 03:00:00  Parco S. Chiara       PM10     12
2021-09-22 04:00:00  Parco S. Chiara       PM10     12
2021-09-22 05:00:00  Parco S. Chiara       PM10     11
...                              ...        ...    ...
2022-07-25 20:00:00  Parco S. Chiara       PM10     27
2022-07-25 21:00:00  Parco S. Chiara       PM10     32
2022-07-25 22:00:00  Parco S. Chiara       PM10     28
2022-07-25 23:00:00  Parco S. Chiara       PM10     29
2022-07-26 00:00:00  Parco S. Chiara       PM10     29

[8874 rows x 3 columns]

In [37]:
APPA1.apply(pd.to_numeric, errors='coerce')
APPA2.apply(pd.to_numeric, errors='coerce')

                     PM10  Ossido di Carbonio  Biossido di Azoto
Time
2021-09-22 01:00:00    19                 0.7                 27
2021-09-22 02:00:00    20                 0.7                 22
2021-09-22 03:00:00    19                 0.7                 22
2021-09-22 04:00:00    18                 0.7                 20
2021-09-22 05:00:00    18                 0.7                 24
...                   ...                 ...                ...
2022-07-25 20:00:00    31                 0.8                 13
2022-07-25 21:00:00    30                 0.8                 12
2022-07-25 22:00:00    22                 0.8                  6
2022-07-25 23:00:00    30                 0.8                 10
2022-07-26 00:00:00    22                 0.8                 10

[7139 rows x 3 columns]

In [37]:
APPA1.apply(pd.to_numeric, errors='coerce')
APPA2.apply(pd.to_numeric, errors='coerce')

                     PM10  Ossido di Carbonio  Biossido di Azoto
Time
2021-09-22 01:00:00    19                 0.7                 27
2021-09-22 02:00:00    20                 0.7                 22
2021-09-22 03:00:00    19                 0.7                 22
2021-09-22 04:00:00    18                 0.7                 20
2021-09-22 05:00:00    18                 0.7                 24
...                   ...                 ...                ...
2022-07-25 20:00:00    31                 0.8                 13
2022-07-25 21:00:00    30                 0.8                 12
2022-07-25 22:00:00    22                 0.8                  6
2022-07-25 23:00:00    30                 0.8                 10
2022-07-26 00:00:00    22                 0.8                 10

[7139 rows x 3 columns]